<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chat.server.mapper.GroupsMapper">

    <select id="queryGroupsById" parameterType="java.lang.String" resultType="cn.chat.server.pojo.entity.Groups">
        SELECT groupId, groupName, groupHead FROM chat_group where groupId = #{groupsId}
    </select>

</mapper>
